body {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0px;
}

.main-page-wrapper {
    background: url("./img/mainone.png") center top no-repeat, url("./img/maintwo.png") center bottom 320px no-repeat;
    background-color: #001821;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.hello__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

.header {
    padding-top: 27px;
    display: flex;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 79px;
}

.menu {
    display: block;
}

.contacts {
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__title {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.contacts {
    font-style: normal;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    color: #FFFFFF;
}

.contacts__workhours {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: underline;
}

.hello {
    margin-bottom: 56px;
}

.hello__title {
    width: 50%;
    line-height: 1.27;
    font-size: 72px;
    font-weight: bold;
    line-height: 100px;
    color: #FFFFFF;
    margin-bottom: 24.5px;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 31.5px;
}

.hello__button {
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.tours {
    margin-bottom: 127px;
}

.tours__title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    margin-top: 198px;
    margin-right: 9px;
}

.tours__hot-title, .tours__hot-img {
    display: inline-block;
}

.tours__list {
    display: flex;
    justify-content: space-between;
}

.tours__item {
    min-height: 449px;
    width: calc(100% / 3 - 18.4px);
    background: #FFFFFF;
    border-radius: 6px;
}

.tours__item:last-child {
    margin-right: 0;
}

.tours__item-img {
    min-height: 144px;
    margin-bottom: 28px;
}

.tours__item-content {
    padding: 0px 24px;
}

.tours__item-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
}

.tours__item-section {
    display: flex;
    justify-content: space-between;
}

.tours__item-subject {
    color: #666666;
    font-size: 16px;
    width: 145px;
}

.tours__item-subject:last-child {
    margin-right: 0;
}

.tours__item-image {
    margin-right: 10px;
}

.tours__item-text {
    display: inline-block;
    vertical-align: top;
}

.tours__item-desc {
    font-size: 14px;
    font-weight: 400;
    width: 324px;
    margin-bottom: 41px;
    line-height: 21px;
    margin-top: 13px;
}

.tours__item-slogan {
    font-size: 14px;
    color: #303030;
}

.tours__item-button {
    background: #fff;
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 14px 28px;
    color: #F5170E;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 14px;
}

.tours__item-btn {
    background: #F5170E;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 14px 28px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 14px;
}

.news {
    margin-bottom: 80px;
}

.news__title {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 51px;
}

.news__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    width: 557px;
    height: 394px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0;
}

.news__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 65.5px 32px;
    height: 200px;
}

.news__date {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 1px;
}

.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 0;
}

.news__text {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 12px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.paginator--theme--light {
    padding-bottom: 0px;
    color: #000000;
}

.paginator--theme--light .paginator__display, .paginator--theme--light .paginator__link {
    color: black;
}

.paginator--theme--light .paginator__item-active .paginator__link {
    color: #FFFFFF;
    background: #F5170E;
}

.paginator__display {
    color: #FFFFFF;
    padding-right: 30px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__item {
    text-align: center;
}

.paginator__item:last-child {
    margin-right: 0;
}

.paginator__item-active .paginator__link {
    background: #FFFFFF;
    color: #F5170E;
}

.paginator__link {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 32px;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 502px;
    background: url("./img/gates.png") center center / cover no-repeat;
}

.about__content {
    margin-bottom: -13px;
}

.about__desc {
    background: url("./img/mountains.png") center center / cover no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    height: 455px;
    padding: 80px 98px;
    margin-left: 351px;
    margin-top: -400px;
    margin-bottom: 63px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    color: #000000;
    margin-bottom: 94px;
}

.about__button {
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 47.5px;
}

.footer {
    display: flex;
    height: 146px;
    align-items: center;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .logo {
    top: 3px;
    left: 0;
}

.footer .menu {
    margin-right: 234px;
}

.footer .contacts {
    position: absolute;
    top: 3px;
    right: 0;
}

.footer .menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.footer .menu__title {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer .contacts {
    font-style: normal;
    text-align: right;
    top: 60px;
    right: 0;
}

.footer .contacts__workhours {
    display: flex;
    justify-content: flex-end;
    right: 2px;
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
}

.footer .contacts__phone {
    text-decoration: none;
    font-size: 26px;
    color: #FFFFFF;
}

.socials {
    top: 10px;
    right: 300px;
}

.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__button {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--telegram .socials__button {
    background-image: url("./img/telegram.png");
}

.socials__item--icon--vk .socials__button {
    background-image: url("./img/vk.png");
}

.socials__item--icon--fb .socials__button {
    background-image: url("./img/f.png");
}

.socials__item--icon--insta .socials__button {
    background-image: url("./img/in.png");
}

/* services page */

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23.5px;
    background: #001821 url("./img/headline\ 1.png") right 52% top no-repeat;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    margin-bottom: 100px;
    font-size: 72px;
    color: #FFFFFF;
    line-height: 1;
    font-weight: bold;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active {
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.main__page-content {
    background: #fff;
    color: #303030;
    padding: 95px 0;
}

.services {
    margin-bottom: 50px;
}

.service {
    display: flex;
    margin-bottom: 50px;
}

.service:last-child {
    margin-bottom: 0px;
}

.service__img {
    width: 460px;
    height: 333px;
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 70px;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn {
    background: F2F2F2;
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 14px 28px;
    color: #F5170E;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn__link {
    background: #F5170E;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 14px 28px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.btn__link--color--grey {
    background: #2B2B2B;
}

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.pager__display {
    color: #000000;
    padding-right: 30px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item:last-child {
    margin-right: 0;
}

.pager__item-active .pager__link {
    background: #F5170E;
    color: #FFFFFF;
}

.pager__link {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    line-height: 32px;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 71px 0;
    margin-bottom: 5px;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 72px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.inner-footer {
    background: #001821;
}

.footer-container {
    border-top: none;
}

/* reviews page */

.reviews {
    column-count: 2;
    column-gap: 30px;
}

.reviews__item {
    margin-bottom: 20px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}

.review__user:after {
    content: url("./img/vk-blue.png");
    height: 29px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin-right: 22px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 9px 17px;
    border-radius: 50px;
    background: #E7E7E7;
}

.tag--bg--blue {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    font-weight: bold;
    color: #1A1B1E;
    margin-bottom: 13px;
}

.review__content-text {
    font-size: 16px;
    color: #818181;
    margin-bottom: 50px;
    line-height: 27px;
}

.review__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: 600;
}

.separator {
    background: url("./img/Rectangle.png") center center no-repeat;
    display: flex;
    background-size: cover;
    min-height: 363px;
}

.container-separator {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.separator__title {
    width: 50%;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

.separator__img {
    position: absolute;
    bottom: 0px;
    right: 35px;
}

.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input-textarea {
    height: 235px;
    color: #666666;
}

.form__controls {
    display: flex;
    margin-bottom: 35px;
}

.form__controls-title {
    width: 37%;
    padding-left: 30px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 7px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    margin-right: 20px;
}

.form__btn:last-child {
    margin-right: 0;
}

/* welcome page */

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./img/bg.png") center bottom / cover no-repeat;
}

.welcome__container {
    width: 591px;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./img/shades.png") no-repeat;
    background-position: center;
    opacity: 0;
    animation: zoom 1s;
    animation-fill-mode: forwards;
}

.central__logo {
    margin-top: 85px;
}

.central__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

@keyframes zoom {
    0% {
        transform: scale(0.7);
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(0.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}