body {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0px;
}

.main-page-wrapper {
    background: url("./img/mainone.png") center top no-repeat, url("./img/maintwo.png") center bottom 320px no-repeat;
    background-color: #001821;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.hello__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

.header {
    padding-top: 27px;
    display: flex;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 79px;
}

.menu {
    display: block;
}

.contacts {
    display: block;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__title {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.contacts {
    font-style: normal;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    color: #FFFFFF;
}

.contacts__workhours {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: underline;
}

.hello {
    margin-bottom: 56px;
}

.hello__title {
    width: 50%;
    line-height: 1.27;
    font-size: 72px;
    font-weight: bold;
    line-height: 100px;
    color: #FFFFFF;
    margin-bottom: 24.5px;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 31.5px;
}

.hello__button {
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.tours {
    margin-bottom: 127px;
}

.tours__title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    margin-top: 198px;
    margin-right: 9px;
}

.tours__hot-title, .tours__hot-img {
    display: inline-block;
}

.tours__list {
    display: flex;
    justify-content: space-between;
}

.tours__item {
    min-height: 449px;
    width: calc(100% / 3 - 18.4px);
    background: #FFFFFF;
    border-radius: 6px;
}

.tours__item:last-child {
    margin-right: 0;
}

.tours__item-img {
    min-height: 144px;
    margin-bottom: 28px;
}

.tours__item-content {
    padding: 0px 24px;
}

.tours__item-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    color: #000;
}

.tours__item-section {
    display: flex;
    justify-content: space-between;
}

.tours__item-subject {
    color: #666666;
    font-size: 16px;
    width: 145px;
}

.tours__item-subject:last-child {
    margin-right: 0;
}

.tours__item-image {
    margin-right: 10px;
}

.tours__item-text {
    display: inline-block;
    vertical-align: top;
}

.tours__item-desc {
    font-size: 14px;
    font-weight: 400;
    width: 324px;
    margin-bottom: 41px;
    line-height: 21px;
    margin-top: 13px;
}

.tours__item-slogan {
    font-size: 14px;
    color: #303030;
}

.tours__item-button {
    background: #fff;
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 14px 28px;
    color: #F5170E;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px
}

.tours__item-btn {
    background: #F5170E;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 14px 28px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px;
}

.news {
    margin-bottom: 80px;
}

.news__title {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 51px;
}

.news__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    width: 557px;
    height: 394px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0;
}

.news__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 65.5px 32px;
    height: 200px;
}

.news__date {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 1px;
}

.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 0;
}

.news__text {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 12px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.paginator--theme--light {
    color: #000000;
}

.paginator--theme--light .paginator__item-active .paginator__link {
    color: #FFFFFF;
    background: #F5170E;
}

.paginator__display {
    color: #FFFFFF;
    padding-right: 30px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__item {
    text-align: center;
}

.paginator__item:last-child {
    margin-right: 0;
}

.paginator__item-active .paginator__link {
    background: #FFFFFF;
    color: #F5170E;
}

.paginator__link {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 32px;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 502px;
    background: url("./img/gates.png") center center / cover no-repeat;
}

.about__content {
    margin-bottom: -13px;
}

.about__desc {
    background: url("./img/mountains.png") center center / cover no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    height: 455px;
    padding: 80px 98px;
    margin-left: 351px;
    margin-top: -400px;
    margin-bottom: 100px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    color: #000000;
    margin-bottom: 94px;
}

.about__button {
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 47.5px;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 146px;
    align-items: center;
    position: relative;
}

.footer .logo {
    position: absolute;
    top: 3px;
    left: 0;
}

.footer .menu {
    position: absolute;
    top: 13px;
    left: 164px;
}

.footer .contacts {
    position: absolute;
    top: 3px;
    right: 0;
}

.footer .menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.footer .menu__title {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer .contacts {
    font-style: normal;
    text-align: right;
    top: 9px;
    right: 0;
}

.footer .contacts__workhours {
    display: flex;
    justify-content: flex-end;
    right: 2px;
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
}

.footer .contacts__phone {
    text-decoration: none;
    font-size: 26px;
    color: #FFFFFF;
}

.socials {
    top: 10px;
    right: 300px;
}

.socials__list {
    display: flex;
    justify-content: flex-end;
    margin-right: 265px;
    margin-top: 12px;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__button {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--telegram .socials__button {
    background-image: url("./img/telegram.png");
}

.socials__item--icon--vk .socials__button {
    background-image: url("./img/vk.png");
}

.socials__item--icon--fb .socials__button {
    background-image: url("./img/f.png");
}

.socials__item--icon--insta .socials__button {
    background-image: url("./img/in.png");
}

/* services page */

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23.5px;
    background: #001821 url("./img/headline\ 1.png") right 52% top no-repeat;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    margin-bottom: 100px;
    font-size: 72px;
    color: #FFFFFF;
    line-height: 1;
    font-weight: bold;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active {
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.main__page-content {
    background: #F2F2F2;
    color: #303030;
    padding: 95px 0;
}

.services {
    margin-bottom: 50px;
}

.service {
    display: flex;
    margin-bottom: 50px;
}

.service:last-child {
    margin-bottom: 0px;
}

.service__img {
    width: 460px;
    height: 333px;
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 70px;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn {
    background: F2F2F2;
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 14px 28px;
    color: #F5170E;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px
}

.btn__link {
    background: #F5170E;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 14px 28px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 26px;
}

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.pager__display {
    color: #000000;
    padding-right: 30px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item:last-child {
    margin-right: 0;
}

.pager__item-active .pager__link {
    background: #F5170E;
    color: #FFFFFF;
}

.pager__link {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    line-height: 32px;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 71px 0;
    margin-bottom: 45px;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 72px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.inner-footer {
    background: #001821;
}

.footer-container {
    margin-top: 48px;
}